<div>
    <h2 id="page-heading">
        <span>Contact Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact-info" [routerLink]="['/contact-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Contact Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contactInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="street1"><span>Street 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="street2"><span>Street 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="suburb"><span>Suburb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="city"><span>City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postalCode"><span>Postal Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="country"><span>Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailaddress"><span>Emailaddress</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cellno"><span>Cellno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactInfo of contactInfos ;trackBy: trackId">
                <td><a [routerLink]="['/contact-info', contactInfo.id, 'view' ]">{{contactInfo.id}}</a></td>
                <td>{{contactInfo.name}}</td>
                <td>{{contactInfo.street1}}</td>
                <td>{{contactInfo.street2}}</td>
                <td>{{contactInfo.suburb}}</td>
                <td>{{contactInfo.city}}</td>
                <td>{{contactInfo.postalCode}}</td>
                <td>{{contactInfo.country}}</td>
                <td>{{contactInfo.emailaddress}}</td>
                <td>{{contactInfo.cellno}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/contact-info', contactInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contact-info', contactInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-info/'+ contactInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contactInfos && contactInfos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
