<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adverts">
            <h2><span>Adverts</span> {{adverts.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{adverts.text}}</span>
                </dd>
                <dt><span>Prices Per Stock</span></dt>
                <dd>
                    <span>{{adverts.pricesPerStock}}</span>
                </dd>
                <dt><span>Units</span></dt>
                <dd>
                    <span>{{adverts.units}}</span>
                </dd>
                <dt><span>Startdate</span></dt>
                <dd>
                    <span>{{adverts.startdate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{adverts.endDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adverts', adverts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
