<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-adverts-heading">Create or edit a Adverts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adverts.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="adverts.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                        [(ngModel)]="adverts.text" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pricesPerStock">Prices Per Stock</label>
                    <input type="number" class="form-control" name="pricesPerStock" id="field_pricesPerStock"
                        [(ngModel)]="adverts.pricesPerStock" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_units">Units</label>
                    <input type="number" class="form-control" name="units" id="field_units"
                        [(ngModel)]="adverts.units" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startdate">Startdate</label>
                    <div class="d-flex">
                        <input id="field_startdate" type="datetime-local" class="form-control" name="startdate" [(ngModel)]="startdate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="endDate"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
