<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-supplier-heading">Create or edit a Supplier</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!supplier.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="supplier.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="supplier.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                        [(ngModel)]="supplier.surname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_regNumber">Reg Number</label>
                    <input type="text" class="form-control" name="regNumber" id="field_regNumber"
                        [(ngModel)]="supplier.regNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="supplier.active" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_contactInfo">Contact Info</label>
                    <select class="form-control" id="field_contactInfo" name="contactInfo" [(ngModel)]="supplier.contactInfo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactInfoOption.id === supplier.contactInfo?.id ? supplier.contactInfo : contactInfoOption" *ngFor="let contactInfoOption of contactinfos; trackBy: trackContactInfoById">{{contactInfoOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_adverts">Adverts</label>
                    <select class="form-control" id="field_adverts" multiple name="adverts" [(ngModel)]="supplier.adverts">
                        <option [ngValue]="getSelected(supplier.adverts, advertsOption)" *ngFor="let advertsOption of adverts; trackBy: trackAdvertsById">{{advertsOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_stock">Stock</label>
                    <select class="form-control" id="field_stock" multiple name="stock" [(ngModel)]="supplier.stocks">
                        <option [ngValue]="getSelected(supplier.stocks, stockOption)" *ngFor="let stockOption of stocks; trackBy: trackStockById">{{stockOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
