<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stockType">
            <h2><span>Stock Type</span> {{stockType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Variation</span></dt>
                <dd>
                    <span>{{stockType.variation}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{stockType.description}}</span>
                </dd>
                <dt><span>Fruit</span></dt>
                <dd>
                    <span>{{stockType.fruit}}</span>
                </dd>
                <dt><span>Vegtable</span></dt>
                <dd>
                    <span>{{stockType.vegtable}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock-type', stockType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
